'.editor':
  'ctrl-y': 'core:paste'
  'ctrl-w': 'core:cut'
  'ctrl-v': 'core:page-down'
  'ctrl-s': 'find-and-replace:show'
  'ctrl-j': 'editor:newline'
  'ctrl-/': 'core:undo'
  'ctrl-o': 'atomic-emacs:open-line'
  'ctrl-x ctrl-s': 'core:save'
  'ctrl-x ctrl-u': 'atomic-emacs:upcase-region'
  'ctrl-x ctrl-l': 'atomic-emacs:downcase-region'
  'ctrl-x ctrl-t': 'atomic-emacs:transpose-lines'
  'ctrl-x o': 'window:focus-next-pane'
  'ctrl-x b': 'fuzzy-finder:toggle-buffer-finder'
  'ctrl-x ctrl-f': 'fuzzy-finder:toggle-file-finder'
  'ctrl-x 3': 'pane:split-right'
  'ctrl-x 2': 'pane:split-down'
  'ctrl-x 0': 'pane:close'
  'ctrl-x 1': 'pane:close-other-items'
  'ctrl-x k': 'core:close'
  'alt-g g': 'go-to-line:toggle'
  'alt-x': 'command-palette:toggle'
  'alt-v': 'core:page-up'
  'alt-<': 'atomic-emacs:beginning-of-buffer'
  'alt->': 'atomic-emacs:end-of-buffer'
  'alt-a': 'atomic-emacs:back-to-indentation'
  'alt-m': 'atomic-emacs:back-to-indentation'
