'.editor':
  'ctrl-y': 'core:paste'
  'ctrl-w': 'core:cut'
  'ctrl-v': 'core:page-down'
  'ctrl-s': 'find-and-replace:show'
  'ctrl-j': 'editor:newline'
  'ctrl-/': 'core:undo'
  'ctrl-o': 'atomic-emacs:open-line'
  'ctrl-x ctrl-s': 'core:save'
  'ctrl-x ctrl-u': 'atomic-emacs:upcase-region'
  'ctrl-x ctrl-l': 'atomic-emacs:downcase-region'
  'ctrl-x ctrl-t': 'atomic-emacs:transpose-lines'
  'alt-x': 'command-palette:toggle'
  'alt-v': 'core:page-up'
  'alt-<': 'atomic-emacs:beginning-of-buffer'
  'alt->': 'atomic-emacs:end-of-buffer'
  'alt-a': 'atomic-emacs:back-to-indentation'
  'alt-m': 'atomic-emacs:back-to-indentation'
