'body':
  'ctrl-g': 'core:cancel'
  'alt-x': 'command-palette:toggle'
  'ctrl-x ctrl-c': 'application:quit'
  'ctrl-x k': 'core:close'
  'ctrl-x ctrl-f': 'atomic-emacs:find-file'
  'ctrl-x b': 'fuzzy-finder:toggle-buffer-finder'
  'ctrl-x 3': 'pane:split-right'
  'ctrl-x 2': 'pane:split-down'
  'ctrl-x 0': 'pane:close'
  'ctrl-x 1': 'atomic-emacs:close-other-panes'
  'ctrl-x o': 'window:focus-next-pane'

'body.platform-darwin':
  'cmd-x': 'atomic-emacs:cut'
  'cmd-c': 'atomic-emacs:copy'

'body.platform-linux':
  'shift-delete': 'atomic-emacs:cut'
  'ctrl-insert': 'atomic-emacs:copy'
  'ctrl-x': 'atomic-emacs:cut'
  'ctrl-c': 'atomic-emacs:copy'

'body.platform-win32':
  'shift-delete': 'atomic-emacs:cut'
  'ctrl-insert': 'atomic-emacs:copy'
  'ctrl-x': 'atomic-emacs:cut'
  'ctrl-c': 'atomic-emacs:copy'

'atom-workspace atom-text-editor':
  # Navigation
  'ctrl-b': 'atomic-emacs:backward-char'
  'left': 'atomic-emacs:backward-char'
  'ctrl-f': 'atomic-emacs:forward-char'
  'right': 'atomic-emacs:forward-char'
  'alt-b': 'atomic-emacs:backward-word'
  'alt-left': 'atomic-emacs:backward-word'
  'alt-f': 'atomic-emacs:forward-word'
  'alt-right': 'atomic-emacs:forward-word'
  'ctrl-alt-b': 'atomic-emacs:backward-sexp'
  'ctrl-alt-f': 'atomic-emacs:forward-sexp'
  'ctrl-alt-p': 'atomic-emacs:backward-list'
  'ctrl-alt-n': 'atomic-emacs:forward-list'
  'alt-{': 'atomic-emacs:backward-paragraph'
  'alt-}': 'atomic-emacs:forward-paragraph'
  'alt-m': 'atomic-emacs:back-to-indentation'
  'ctrl-a': 'editor:move-to-beginning-of-line'
  'ctrl-s': 'find-and-replace:show'
  'ctrl-r': 'find-and-replace:show'
  'alt-<': 'core:move-to-top'
  'alt->': 'core:move-to-bottom'

  # Killing & Yanking
  'alt-backspace': 'atomic-emacs:backward-kill-word'
  'alt-delete': 'atomic-emacs:backward-kill-word'
  'alt-d': 'atomic-emacs:kill-word'
  'ctrl-k': 'atomic-emacs:kill-line'
  'ctrl-w': 'atomic-emacs:kill-region'
  'alt-w': 'atomic-emacs:copy-region-as-kill'
  'ctrl-alt-w': 'atomic-emacs:append-next-kill'
  'ctrl-y': 'atomic-emacs:yank'
  'alt-y': 'atomic-emacs:yank-pop'
  'alt-shift-y': 'atomic-emacs:yank-shift'

  # Editing
  'alt-\\': 'atomic-emacs:delete-horizontal-space'
  'alt-^': 'atomic-emacs:delete-indentation'
  'ctrl-o': 'atomic-emacs:open-line'
  'alt-space': 'atomic-emacs:just-one-space'
  'ctrl-x ctrl-o': 'atomic-emacs:delete-blank-lines'
  'ctrl-t': 'atomic-emacs:transpose-chars'
  'alt-t': 'atomic-emacs:transpose-words'
  'ctrl-alt-t': 'atomic-emacs:transpose-sexps'
  'ctrl-x ctrl-t': 'atomic-emacs:transpose-lines'
  'ctrl-x ctrl-l': 'atomic-emacs:downcase-word-or-region'
  'alt-l': 'atomic-emacs:downcase-word-or-region'
  'ctrl-x ctrl-u': 'atomic-emacs:upcase-word-or-region'
  'alt-u': 'atomic-emacs:upcase-word-or-region'
  'alt-c': 'atomic-emacs:capitalize-word-or-region'
  'ctrl-j': 'editor:newline'
  'ctrl-m': 'editor:newline'
  'ctrl-/': 'core:undo'
  'ctrl-_': 'core:undo'
  'ctrl-x u': 'core:undo'
  'alt-/': 'autocomplete-plus:activate'
  'alt-q': 'autoflow:reflow-selection'
  'alt-;': 'editor:toggle-line-comments'

  # Marking & Selecting
  'ctrl-space': 'atomic-emacs:set-mark'
  'ctrl-alt-space': 'atomic-emacs:mark-sexp'
  'ctrl-x h': 'atomic-emacs:mark-whole-buffer'
  'ctrl-x ctrl-x': 'atomic-emacs:exchange-point-and-mark'

  # UI
  'ctrl-g': 'core:cancel'
  'ctrl-x ctrl-s': 'core:save'
  'ctrl-x ctrl-w': 'core:save-as'
  'alt-.': 'symbols-view:toggle-file-symbols'

'atom-text-editor:not(.autocomplete-active):not(.mini)':
  # Navigation
  'ctrl-p': 'atomic-emacs:previous-line'
  'up': 'atomic-emacs:previous-line'
  'ctrl-n': 'atomic-emacs:next-line'
  'down': 'atomic-emacs:next-line'

  # Scrolling
  'ctrl-l': 'atomic-emacs:recenter-top-bottom'
  'ctrl-v': 'atomic-emacs:scroll-up'
  'alt-v': 'atomic-emacs:scroll-down'

'.platform-linux atom-workspace.atomic-emacs atom-text-editor':
  'ctrl-d': 'core:delete'
  'ctrl-e': 'editor:move-to-end-of-screen-line'

'.platform-linux atom-workspace atom-text-editor:not([mini]),
 .platform-win32 atom-workspace atom-text-editor:not([mini])':
  'ctrl-j': 'editor:newline'

'.platform-linux atom-workspace atom-text-editor:not(.autocomplete-active):not([mini]),
 .platform-win32 atom-workspace atom-text-editor:not(.autocomplete-active):not([mini])':
  'ctrl-/': 'core:undo'

'.platform-win32 atom-workspace.atomic-emacs atom-text-editor':
  'ctrl-d': 'core:delete'
  'ctrl-e': 'editor:move-to-end-of-screen-line'
  'ctrl-k ctrl-k': 'editor:cut-to-end-of-line'

'atom-workspace .find-and-replace atom-text-editor':
  'ctrl-s': 'find-and-replace:confirm'
  'ctrl-r': 'find-and-replace:show-previous'

'.go-to-line atom-text-editor[mini] input':
  'ctrl-g': 'core:cancel'

'.tree-view-dialog atom-text-editor[mini]':
  'ctrl-g': 'core:cancel'

'atom-panel.left, atom-panel.right':
  'ctrl-g': 'tool-panel:unfocus'

'.platform-linux atom-workspace, .platform-win32 atom-workspace':
  'alt-g g': 'go-to-line:toggle'
  'alt-g alt-g': 'go-to-line:toggle'
  'ctrl-g': 'core:cancel'

'.platform-win32 .go-to-line atom-text-editor[mini] input':
  'ctrl-g': 'core:cancel'

'.platform-darwin':
  'alt-g g': 'go-to-line:toggle'
  'alt-g alt-g': 'go-to-line:toggle'
  'ctrl-g': 'core:cancel'

'.platform-darwin .go-to-line atom-text-editor[mini] input':
  'ctrl-g': 'core:cancel'

'atom-text-editor.autocomplete-active':
  'ctrl-g': 'autocomplete-plus:cancel'

'atom-text-editor !important, atom-text-editor[mini] !important':
  'ctrl-g': 'editor:consolidate-selections'
