.atomic-emacs.search {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.atomic-emacs.search label {
  flex: 1 1;
  margin-right: 0.5em;
}

.atomic-emacs.search atom-text-editor {
  width: 100%;
}
