.atomic-emacs {
  .search {
    .row.editor {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }

    .row.status > p {
      margin-bottom: 0;
    }

    label {
      flex: 1 1;
      margin: 0.5em;
    }

    atom-text-editor {
      width: 100%;
    }

    button.case-sensitivity,
    button.is-reg-exp {
      font-size: 80%;
      background-color: transparent;
      border: solid 1px;
    }
  }

  // Adapted from find-and-replace's styles.
  .search-wrap-icon {
    @wrap-size: @font-size * 10;

    position: absolute;
    top: 50% !important;
    left: 50% !important;
    right: initial !important;
    bottom: initial !important;
    margin-top: @wrap-size * -0.5;
    margin-left: @wrap-size * -0.5;

    &:before {
      // Octicons look best in sizes that are multiples of 16px
      font-size: @wrap-size - mod(@wrap-size, 16px) - 32px;
      line-height: @wrap-size;
      width: @wrap-size;
      height: @wrap-size;
      color: @syntax-text-color;
      opacity: .5;
    }

    opacity: 0;
    transition: opacity 0.5s;
    &.visible { opacity: 1; }
  }
}

// Result markers. Adapted from the find-and-replace package.
@import "ui-variables";
@import "syntax-variables";

atom-text-editor {
  .atomic-emacs-search-result .region {
    background-color: transparent;
    border-radius: @component-border-radius;
    border: 1px solid @syntax-result-marker-color;
    box-sizing: border-box;
    z-index: 0;
  }

  .atomic-emacs-current-result .region {
    background-color: white;
    border-radius: @component-border-radius;
    border: 1px solid @syntax-result-marker-color-selected;
    box-sizing: border-box;
    z-index: 0;
  }

  .atomic-emacs-search-result,
  .atomic-emacs-current-result {
    display: none;
  }
}

atom-workspace.atomic-emacs-search-visible {
  atom-text-editor {
    .atomic-emacs-search-result,
    .atomic-emacs-current-result {
      display: block;
    }
  }
}
